<%  
response.setHeader("Pragma", "no-cache");  
response.setHeader("Cache-Control", "no-cache");  
response.setDateHeader("Expires", 0);  
%>

a:focus { 
	outline: 0 !important;
}

html, body {
	height: 100%;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.expanded {
	min-height: 100%;
	margin-bottom: -53px;
}

.sidebar {
	width: 120px;
	float: left;
}

.sidebar .nav a {
	text-align: center;
}

.icon-ok-sign {
	float: right;
	margin: 2px -6px 0 0;
	opacity: .4;
}

.content {
	float: right;
	width: 850px;
	font-size: 16px;
}

.question tr {
	height: 35px;
}

.question .ui-radiobutton, .question .ui-chkbox{
	margin-right: 6px;
}

.question-title {
	font-size: 1.2em;
	margin-bottom: 15px;
}

footer {
	height: 35px;
	padding-top: 18px;
	background-color: #f5f5f5;
}