@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image:url('#{resource['images:bg.jpg']}');
	/*background-color: #E9F6FD;*/
}

#admin-login form {
	margin: 200px auto;
	width: 380px;
}

nav {
	margin-bottom: 20px;
}

.wrapper {
	margin: 0 auto;
	min-height: 900px;
	max-width: 1200px;
}

#container {
	margin-top: 10px;
	/*box-shadow: 0 0 10px #CCCCCC;*/
	background: #fff;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

#sidebar {
	float: left;
}

#content {
	margin-left: 240px;
}

.top-margin {
	margin-top: 10px;
}

.buttons {
	margin: 10px 0 10px 0;
}

.buttons button {
	margin-right: 10px;
}

.floated.left {
	float: left;
}

.floated.right {
	float: right;
}

.floated.left .ui-chkbox {
	height: 29px;
	margin-top: 7px;
}

.ui-panel {
	margin-bottom: 20px;
}

.floated.left .ui-radiobutton {
	height: 25px;
	margin-top: 8px;
}

.floated.right input {
	margin: 5px !important;
}

.question {
	background: #F5FFF5;
	margin: 20px 0;
	padding: 10px;
}

.question-title {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.quiz-list {
	margin: 5px 0 5px 10px;
}

.quiz-in-list a {
	text-decoration: none;
	font-size: 1.5em;
}

.quiz-in-list a:hover {
	text-decoration: underline;
	color: #000;
}

/*Admin login*/
#admin-login-form {
	margin-top: 150px;
	display: inline-block;
	text-align: left;
}

/* PrimeFaces */
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text {
	margin-right: 0.6em;
}

.ui-menu-list > li:nth-last-of-type(-n+3){
	float: right !important;
}

.ui-panel {
	overflow: hidden;
}